{% extends 'admindash/main.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Admin-Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'landingpage' %}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <!-- message on successfull submission -->

  {% for message in messages %}
  <div class="alert alert-primary bg-primary text-light border-0 alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Seed of winning Grace-->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">SEED OF WINNING GRACE | <a href="#"><span class="badge bg-warning"
                      style="color: white;"> VIEW</span></a></h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">TITLE</th>
                      <th scope="col">BIBLE VERSE</th>
                      <th scope="col">POWER CAPSULE</th>
                      <th scope="col">BIBLE RAEDING</th>
                      <th scope="col">LINK</th>
                    </tr>
                  </thead>

                  {% for s in seedofwins %}
                  <tbody>
                    <tr>
                      <td>{{s.title}}</td>
                      <td><a href="#" class="text-primary">{{s.bible_verse}}</a></td>
                      <td>{{s.power_capsule}}</td>
                      <td>{{s.bible_reading}}</td>
                      <td><a href="#"></a>LINK</td>
                      <td><a href="{% url 'updateseedofwin' s.id %}"><button type="button" class="btn btn-warning">UPDATE</button></a></td>
                      <td><a href="{% url 'deleteseedofwin' s.id %}"><button type="button" class="btn btn-danger">DELETE</button></a></td>
                    </tr>
                  </tbody>
                  {% endfor %}

                </table>
              </div>
            </div>
          </div><!-- End Seed of Winning Grace-->

          <!-- Program -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">PROGRAM <span></span></h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">TITLE</th>
                      <th scope="col">DEARTMENT</th>
                      <th scope="col">THEME</th>
                      <th scope="col">DATE</th>
                    </tr>
                  </thead>
                  {% for p in programs %}
                  <tbody>
                    <tr>
                      <td>{{p.title}}</td>
                      <td><a href="#" class="text-primary">{{p.department}}</a></td>
                      <td><a href="{% url 'updateprogram' p.id %}"><button type="button" class="btn btn-warning">UPDATE</button></a></td>
                      <td><a href="{% url 'deleteprogram' p.id %}"><button type="button" class="btn btn-danger">DELETE</button></a></td>
                    </tr>

                  </tbody>
                  {% endfor %}
                </table>

              </div>

            </div>
          </div><!-- End Program-->

          <!-- Event -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="card-body pb-0">
                <h5 class="card-title">EVENT <span></span></h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">NAME</th>
                      <th scope="col">TITLE</th>
                      <th scope="col">DATE</th>
                      <th scope="col">UPDATE</th>
                      <th scope="col">DELETE</th>
                    </tr>
                  </thead>
                  {% for e in events %}
                  <tbody>
                    <tr>
                      <td><a href="#" class="text-primary fw-bold">{{e.name}}</a></td>
                      <td>{{e.title}}</td>
                      <td>{{e.date}}</td>
                      <td><a href="{% url 'updateevent' e.id %}"><button type="button" class="btn btn-warning">UPDATE</button></a></td>
                      <td><a href="{% url 'deleteevent' e.id %}"><button type="button" class="btn btn-danger">DELETE</button></a></td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>

              </div>

            </div>
          </div><!-- End Event -->

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">

        <!-- Announcement -->
        <div class="card">
          <div class="card-body pb-0">
            <h5 class="card-title">ANNOUNCEMENT<span></span></h5>

            <div class="news">

              {% for a in announcement %}
              <div class="post-item clearfix">
                <h4><a href="#">{{a.subject}}</a></h4>
                <p>{{a.message}}</p>
                <td><a href="{% url 'updateannouncement' a.id %}"><span class="badge bg-warning">UPDATE</span></a></td>
                <td><a href="{% url 'deleteannouncement' a.id %}"><span class="badge bg-danger">DELETE</span></a></td>
                <hr>
              </div>
              {% endfor %}

            </div><!-- End sidebar recent posts-->

          </div>
        </div><!-- end announcement -->

        <!-- Recommended bible verse -->
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">Recommended Bible Verse For January <span></span></h5>

            {% for r in recommendedbible %}
            <div class="activity">

              <div class="activity-item d-flex">
                <div class="activity-content">
                  {{r.verseone}} | {{r.versetwo}} | {{r.versethree}} | {{r.versefour}}
                </div>
              </div><!-- End activity item-->
              <td><a href="{% url 'updaterecommendedbible' r.id %}"><span class="badge bg-warning">UPDATE</span></a></td>
              <td><a href="{% url 'deleterecommendedbible' r.id %}"><span class="badge bg-danger">DELETE</span></a></td>
            </div>
            {% endfor %}

            <hr>
            <td><a href="#"><span class="badge bg-success">VIEW MORE</span></a></td>

          </div>
        </div><!-- End Recommended bible verse -->



      </div><!-- End Right side columns -->

    </div>
  </section>

</main><!-- End #main -->

{% endblock %}