{% extends 'admindash/main.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Seed Of Winning Grace Form</h5>

            <!-- General Form Elements -->
            <form method="POST" action="">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        {{form.title}}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Bible Verse</label>
                    <div class="col-sm-10">
                        {{form.bible_verse}}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Power Capsule</label>
                    <div class="col-sm-10">
                        {{form.power_capsule}}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Content</label>
                    <div class="col-sm-10">
                        {{form.content}}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Bible Reading</label>
                    <div class="col-sm-10">
                        {{form.bible_reading}}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputTime" class="col-sm-2 col-form-label">Prayer Bullet</label>
                    <div class="col-sm-10">
                        {{form.prayer_bullet}}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputTime" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                        {{form.date}}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">SEND</button>
                    </div>
                </div>

            </form><!-- End General Form Elements -->

        </div>
    </div>
</main><!-- End #main -->

{% endblock %}